/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'PixelEmulator';
  src: url('assets/fonts/Pixel Emulator.otf') format('opentype');
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --body-color: #f9ff50;
  --first-color: #ee2a28;
  --green-color: #A2FF50;
  --purple-color: #FF50F9;
  --blue-color: #00388b;
  --gray-color: #f8f7f7;
  --white-color: hsl(0, 0%, 95%);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --shadow-img: drop-shadow(2px 2px 0px hsla(0, 0%, 0%, 0.65));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'PixelEmulator', sans-serif;
  --super-font-size: 4rem;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-super-bold: 1000;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-regular: 400;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
/* @media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 3.0rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
} */

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main {
  overflow: hidden;
}

/*=============================== HEADER & NAV ===============================*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__logo {
  display: flex;
  /* column-gap: 0.5rem; might be needed to give space for logo */
  align-items: center;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.nav__toggle {
  font-size: 2rem;
  cursor: pointer;
  margin-top: -0.5rem; /*might need to adjust after adding logo svg*/
  margin-left: auto;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu{
    position: fixed;
    top: -140%;
    left: 0;
    background-color: var(--first-color);
    width: 100%;
    padding-block: 20rem;
    text-align: center;
    opacity: 0.99;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.nav__link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__link:hover::after {
  width: 25%;
}

.nav__close {
  position: absolute;
  font-size: 5rem;
  top: 1rem;
  right: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
}

/*=============================== HOME ===============================*/
.home {
  position: relative;
}

.home__container {
  padding-top: 4rem;
  row-gap: 1rem;
}

.home__data { /*doublecheck*/
  position: relative;
  text-align: center;
}

.home__image {
  width: 180px;
  position: relative;
  z-index: 10;
  justify-self: center;
  /* filter: var(--shadow-img); */
}

.home__title {
  font-size: var(--biggest-font-size);
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home__word {
  display: block; /* Display each word on a new line */
}

.home__description {
  margin-top: 1.75rem;
  margin-bottom: 1.7rem;
  font-size: var(--h3-font-size);
  animation: blink 1.2s step-start infinite;
  color: var(--first-color);
  font-weight: var(--font-super-bold);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*=============== DEX BUTTON ===============*/
.button {
  display: inline-block;
  text-align: center;
  /* line-height: 1.75rem; */
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
  color: var(--white-color);
  padding: 0.6rem 0.5rem;
  background-color: var(--first-color);
  border-radius: 5px;
  border: 1.75px solid var(--black-color);
  transition: box-shadow 0.4s, background-color 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-color);
  color: var(--first-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*=============== SOCIAL ICON ===============*/
.home__social {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0rem;
  gap: 1rem; /* Space between the icons */
  flex-wrap: wrap;
}

.home__social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: transparent; /* Set background to transparent */
  border: 2px solid var(--black-color); /* Add black border */
  border-radius: 50%; /* Make the background circular */
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none; /* Remove underline from the links */
  flex: 0 1 auto;
}

.home__social-link:hover {
  background-color: var(--first-color);
  transform: scale(1.1);
}

.social__image {
  width: 2rem;
  height: 2rem;
  max-width: 100%;
}

.social__description {
  align-content: center;
}

/*=============== CONTRACT ID ===============*/
.contract-id-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 5px;
  margin-top: 3rem;
  max-width: 100%;
  word-break: break-all;
  text-align: center;
}

.contract-id-box span {
  font-size: var(--h3-font-size);
  color: var(--black-color);
  margin-bottom: 2rem;
}

.copy-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  font-family: var(--body-font);
}

.copy-button i {
  margin-right: 0.5rem;
}

.copied-icon {
  font-size: var(--h3-font-size);
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  /* align-content: center; */
  background-color: var(--white-color);
  padding: 1rem 1rem;
  border-radius: 5px;
  margin-top: 0rem;
  max-width: 100%;
  height: 50px;
}

.copied-icon.show {
  display: flex;
  color: #4CAF50;
}

.copied-icon i {
  margin-right: 0.5rem;
}

.home__controller {
  position: absolute;
  width: 55px;
  right: 1rem;
  bottom: 33rem;
  rotate: 35deg;
}

.home__rocket {
  position: absolute;
  width: 65px;
  left: 1rem;
  top: 30rem;
  rotate: -25deg;
}

/*=============================== ABOUT ===============================*/
.about {
  position: relative;
  background-color: var(--black-color);
  padding-top: 10rem;
  padding-bottom: 10rem;
  font-size: var(--h3-font-size);
}

.about__container {
  line-height: 3rem;
  color: white;
}

.about__data {
  position: relative;
  text-align: center;
  z-index: 10;
}

.pixel-breaker, .pixel-breaker-end {
  position: relative;
  width: 100%;
  height: 0px;
}

.pixel {
  width: 8px;
  height: 8px;
  position: absolute;
}

.yellow-pixel {
  background-color: var(--body-color);
  z-index: 9;
}

.black-pixel {
  background-color: var(--black-color);
  z-index: 8;
}

/*=============================== MEMES ===============================*/
.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
  text-align: center;
  margin-bottom: 1rem;
}

.memes__container {
  padding-top: 2rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem;
}

.memes__card {
  position: relative;
  padding-block: 1.5rem 2.5rem;
  text-align: center;
}

.memes__img {
  width: 170px;
  border-radius: 1rem;
  margin: 0 auto .75rem;
  filter: var(--shadow-img);
  transition: transform .4s;
}

.memes__bg {
  width: 100%;
  height: 100%;
  background-color: var(--gray-color);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewY(4deg);
  transition: background-color .4s;
}

.memes__title {
  font-size: var(--h1-font-size);
  font-family: var(--body-font);
  margin-bottom: 0.75rem;
}

.memes__subtitle {
  font-size: var(--small-font-size);
}

.memes__card:hover .memes__img {
  transform: translateY(-.3rem);
}

/*=============================== FOOTER ===============================*/
.footer {
  padding-block: 2rem 2rem;
  overflow: hidden;
  background-color: var(--white-color);
}

.footer__container {
  position: relative;
  display: flex; /*added*/
  flex-direction: column; /*added*/
  row-gap: 3rem;
  color: var(--black-color);
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  color: var(--black-color);
}

.footer__data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 1rem;
}

.footer__description {
  margin: 0 1rem;
}

/* 
.footer__data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer__description {
  margin-left: 2rem;
} */

.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.footer__links {
  display: grid;
  row-gap: .75rem;
}

.footer__link {
  color: var(--black-color);
  transition: color .4s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--white-color);
  transition: transform .4s;
}

.footer__social-link:hover {
  transform: translateY(-.25rem);
}

.footer__copy {
  display: block;
  padding: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--black-color-light);
}

.footer__gameboy,
.footer__controller {
  filter: var(--filter-img);
  position: absolute;
}

.footer__gameboy {
  width: 70px;
  top: 50%;
  left: 8rem;
  rotate: -10deg;
}

.footer__controller {
  width: 60px;
  bottom: 15%;
  left: 13rem;
  rotate: 30deg;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }

  .home__title {
    font-size: 2rem;
  }

  .home__rocket {
    width: 65px;
    top: 30rem;
    left: 1rem;
  }

  .home__controller {
    width: 55px;
    bottom: 33rem;
    right: 1rem;
  }

  .copied-icon {
    top: 75%;
    display: none;
    padding: 0.5rem 0.5rem;
    height: 40px;
  }

  .footer__data {
    grid-template-columns: max-content;
    gap: 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container, 
  .about__container {
    grid-template-columns: 370px;
    justify-content: center;
  }

  .home__rocket {
    width: 100px;
    top: 25rem;
    left: 5rem;
  }

  .home__controller {
    width: 90px;
    bottom: 33rem;
    right: 5rem;
  }

  .copied-icon {
    top: 76%;
  }

  .contract-id-box {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer__data {
    grid-template-columns: repeat(2, max-content);
  }

  .footer__gameboy {
    width: 80px;
    top: 40%;
    left: 21rem;
    rotate: -10deg;
  }

  .footer__controller {
    width: 75px;
    left: 30rem;
  }
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: repeat(2, 370px);
    align-items: center;
    border: 2px;
    border-width: 2px;
  }
  
  .home__social {
    grid-column: 1 / span 2;
  }
  
  .home__image {
    width: 500px;
    position: relative;
    z-index: 10;
    margin-right: 5rem;
    margin-left: 0rem;
  }

  .home__data {
    justify-content: center;
  }

  .home__title {
    font-size: var(--super-font-size);
    line-height: 4.25rem;
  }

  .memes__container {
    grid-template-columns: repeat(2, 250px);
    column-gap: 4rem;
  }

  .home__description {
    font-size: var(--biggest-font-size);
    line-height: 4rem;
  }

  .contract-id-box {
    padding: 2rem;
    margin-top: 0rem;
  }

  .contract-id-box span {
    margin-bottom: 1.5rem;
  }

  /*=============== DEX BUTTON ===============*/
  .button {
    font-size: var(--normal-font-size);
  }

  .home__rocket {
    display: none;
  }
  
  .home__controller {
    display: none;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    /* column-gap: 4rem; */
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__link {
    color: var(--black-color);
    font-size: var(--h2-font-size);
  }

  .nav__logo {
    font-size: var(--h2-font-size);
  }

  .home__container {
    grid-template-columns: 470px 500px;
    padding-top: 2rem;
  }

  /* .home__title {
    margin-bottom: 1.5rem;
    padding-right: 3rem;
  } */

  .home__title {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .home__word {
    display: inline-block;
    margin: 0rem 1.25rem; /* Add some spacing between words */
  }

  .home__description {
    justify-content: center;
    text-align: center;
  }

  .home__data {
    justify-content: center;
  }

  .home__img {
    width: 600px;
  }

  .home__branch {
    width: 200px;
    bottom: 0;
    right: -5rem; 
  }

  .home__controller {
    display: flex;
    width: 100px;
    top: 25rem;
    right: 3rem;
  }

  .about__container {
    grid-template-columns: 800px;
    padding-bottom: 6rem;
  }

  .memes__container {
    grid-template-columns: repeat(3, 300px);
    column-gap: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .memes__card {
    padding-block: 2.5rem 2.5rem;
  }

  .memes__img {
    width: 250px;
  } 

  .memes__title {
    font-size: calc(var(--h2-font-size) + 4px);
  }

  .footer {
    position: relative;
    padding-block: 5rem 3rem;
  }

  .footer__container {
    position: initial;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__logo {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }

  .footer__data {
    column-gap: 4.5rem;
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }

  .footer__social {
    column-gap: 1.25rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  
  .footer__gameboy {
    width: 90px;
    top: 30%;
    left: 45rem;
    rotate: -10deg;
  }

  .footer__controller {
    width: 85px;
    bottom: 35%;
    left: 55rem;
    rotate: 30deg;
  }

  .footer__copy {
    display: block;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--black-color-light);
  }
}