/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: rgb(255, 0, 0);
  --black-color: hsl(0, 0%, 0%);
  --fblue-color: #f5f4f0;
  --fblue-color-light: #f5f4f0;
  --black-color-light: hsl(0, 0%, 40%);
  --black-color-medium: hsl(0, 0%, 10%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: #3b5998;
  --text-color: #000000;
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: #f5f4f0;
  --container-color: #cf5f4f0;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Single Day', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.25rem;
    --mid-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4rem 4rem;
}

/*About*/

.section__title-1, 
.section__title-2 {
  position: relative;
  font-size: var(--biggest-font-size);
  width: max-content;
  margin: 0.75rem auto 0rem;
  text-align: center;
}

.section__title-1 span, 
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after, 
.section__title-2::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #637aac46;
  position: absolute;
  top: -4px;
  right: -8px;
}

.section__title-2::after {
  top: initial;
  bottom: -4px;
}

.main {
  overflow: hidden;
}


/*=============================== HEADER & NAV ===============================*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-size: var(--mid-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.nav__logo-circle,
.nav__toggle {
  width: 48px;
  height: 48px;
  background-color: var(--black-color);
  margin: 2rem;
  color: var(--white-color);
  display: grid;
  place-items: center;
}

.nav__logo-circle {
  border-radius: 50%;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, .75);
    width: 100%;
    padding-block: 1.8rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top .4s;
  }
}

.nav__title,
.nav__name,
.nav__close{
  color: var(--white-color);
}

.nav__title {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 3.5rem;
}

.nav__name {
  position: relative;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: var(--h2-font-size);
}

.nav__name::after,
.nav__name::before {
  content: '';
  width: 40px;
  height: 1px;
  background-color: var(--text-color-light);
  position: absolute;
  top: 50%;
  left: -4rem;
}

.nav__name::before {
  left: initial;
  right: -4rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.nav__link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__link:hover::after {
  width: 25%;
}

.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
}

/* Active link */


/*=============================== HOME ===============================*/
.home__container {
  padding-top: 2rem;
}

.home__name {
  font-size: var(--biggest-font-size);
  text-align: center;
}

.home__perfil {
  position: relative;
  justify-self: center;
}

.home__image {
  width: 220px;
}

.home__img {
  position: relative;
  z-index: 10;
}

.home__shadow {
  width: 87.5%;
  height: 0;
  background-color: var(--container-color);
  position: absolute;
  bottom: -0.1rem;
  right: 0.25rem;
  border: 1.25px solid var(--black-color);
  z-index: 5;
  transition: background-color .4s;
}

.home__arrow {
  position: absolute;
  filter: invert(1);
  width: 50px;
  transition: filter .4s;
}

.home__arrow {
  left: 40%;
  bottom: -4rem;
}

.home__social {
  height: max-content;
  position: absolute;
  left: -3.5rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: grid;
  row-gap: 1.5rem;
}

.home__social-link {
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 4px;
  display: grid;
  place-items: center;
  transition: background-color .3s;
}

.home__social-link-svg i {
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 4px;
  display: grid;
  place-items: center;
  transition: background-color .3s;
  width: 1.75rem;
  height: 1.75rem;
}

.home__social-link i {
  font-size: 1.25rem;
}

.home__social-link:hover {
  background-color: var(--black-color);
}

.home__social-link-svg i:hover {
  background-color: var(--black-color);
}

.home__info {
  margin-top: 4rem;
}

.home__description {
  text-align: center;
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.home__description b {
  background: linear-gradient(90deg,
              #3b58981a,
              hsla(14, 98%, 50%, 0));
}

.home__scroll {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.home__scroll-text {
  display: none;
}

.home__scroll-box {
  background-color: var(--black-color-medium);
  color: var(--white-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .4s;
}

.home__scroll-box i {
  animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}

/* Contract ID Box */
.contract-id-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contract-id-box span {
  font-size: 1.5em;
}

.copy-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px; /* Add spacing between the text and the button */
  font-size: 1.5rem;
  background-color: transparent;
  color: --var(--fblue-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-button:hover {
  background-color: #2d4373;
}

.copied-icon {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 6px;
  position: absolute;
  top: -100px; /* Adjust position to make it look like a pop-up */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  row-gap: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  z-index: 100; /* Ensure it appears above other elements */
}

.copied-icon.show {
  opacity: 1;
  pointer-events: all;
}

.copied-icon {
  font-size: 24px;
  color: green;
  margin-right: 8px;
}

.copied-icon span {
  font-size: 16px;
  color: #333; /* Adjust color as needed */
}

.base__description {
  position: relative;
  justify-content: center;
  align-items: center;
}

.base__text {
  font-size: var(--biggest-font-size);
}
/*=============== BUTTON ===============*/
.button,
.button__ghost {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.button {
  background-color: var(--black-color);
  padding: 1.1rem 1.5rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: background-color .4s;
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--first-color);
}

.button__ghost {
  border: 3px solid var(--black-color);
  color: var(--black-color);
  padding: 0.5rem;
  transition: border 0.4s, color 0.4s;
}

.button__ghost i {
  font-size: 1.25rem;
}

.button__ghost:hover {
  border: 3px solid var(--first-color);
}

.base__container {
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding: 3rem;
  text-align: center; /* Ensure text is centered */
}

.base__description {
  margin-bottom: 1rem; /* Optional: Add some space between description and text */
}

.base__text {
  color: black;
  font-size: var(--mid-font-size); /* Ensure this is set correctly in your variables */
}

/*=============================== SECTION: ABOUT ===============================*/

.about {
  background-color: var(--container-color);
  transition: background-color .4s;
}

.about__container {
  row-gap: 0;
}

.about__perfil {
  position: relative;
  justify-self: center;
  margin-block: 2.5rem 3rem;
}

.about__img {
  position: relative;
  z-index: 1;
}

.about__shadow,
.about__line,
.about__box {
  position: absolute;
}

.about__description {
  font-size: var(--h2-font-size);
  position: relative;
  color: var(--title-color);
  margin-bottom: 3rem;
  padding-left: 0rem;
  text-align: center;
}

.about__list {
  list-style: square;
  color: var(--title-color);
  margin-bottom: 3rem;
}

.about__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

/*=============================== SECTION: MEMES ===============================*/

.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: var(--body-color);
  padding: 4rem 2rem;
  box-sizing: border-box;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.marquee span {
  display: inline-block;
  /* padding-left: 10; */
  padding-right: 100px;
  font-size: var(--h3-font-size);
  color: var(--black-color);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ........... temp ..........*/

/* Responsive adjustments */

@media (max-width: 1200px) {
  .marquee span {
    font-size: var(--h1-font-size);
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .marquee span {
    font-size: var(--h2-font-size);
    padding-right: 50px;
  }
}

@media (max-width: 480px) {
  .marquee span {
    font-size: var(--h3-font-size);
      padding-right: 50px;
  }
}

/* ........... temp ..........*/

.memes__container {
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 2rem;
  padding-top: 1rem;
}

.memes__card {
  position: relative;
}

.memes__content {
  height: 100%;
  background-color: var(--body-color);
  border: 4px solid var(--black-color);
  padding: 6rem 1rem 3rem;
  z-index: 5;
  position: relative;
  transition: backgroun-color .4s, border .4s;
}

.memes__border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid var(--first-color);
  top: 0;
  left: 0;
  transition: transform .4s;
}

.memes__card:hover .memes__border {
  transform: translate(0.75rem, 0.75rem);
}

.memes__icon {
  position: relative;
  display: inline-block;
}

.memes__icon i {
  font-size: 2rem;
  color: var(--black-color);
  position: relative;
  z-index: 5;
}

.memes__box {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--first-color);
  right: -2px;
  top: -2px;
}

.memes__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
}

/*=============================== SECTION: TOKENOMICS ===============================*/

.tokenomics {
  background-color: var(--container-color);
}

.tokenomics__container {
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

.tokenomics__item {
  padding: 1.5rem;
  background-color: var(--fblue-color-light);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: transform 0.3s, background-color 0.3s;
}

.tokenomics__item:hover {
  transform: scale(1.05);
  background-color: var(--first-color);
}

.tokenomics__percentage {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
}

.tokenomics__label {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
}

.tokenomics__subheader {
  text-align: center;
  margin: 2rem;
}

.tokenomics__subheader-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-shadow: 2px 2px #00000033;
  margin: 2rem;
}

.tokenomics__subheader-currency {
  font-size: 2.5rem;
  font-weight: bold;
  color: #32cd32;
  text-shadow: 0.5px 0.5px #00000050;
}

.tokenomics__subheader-description {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

/* Underline effect */
.underline-effect {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #000;
  font-size: 2rem; /* Adjust size as needed */
}

.underline-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -10px;
  left: 0;
  background-color: #000;
  animation: underline 4s infinite;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
    transform-origin: bottom left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  51% {
    transform: scaleX(1);
    transform-origin: bottom right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: bottom right;
  }
}

/*=============== FOOTER ===============*/

.footer {
  background-color: var(--fblue-color);
}

.footer__container {
  padding-block: 3rem 2rem;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 0rem;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  border: 2.5px solid var(--white-color);
  border-radius: 50%;
  transition: border-color 0.3s;
}

.footer__social-link:hover {
  background-color: var(--first-color);
}

.footer__social-link svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white-color);
  transition: fill 0.3s;
}

.footer__social-link:hover svg {
  fill: var(--white-color);
}

.footer__copy {
  color: var(--white-color);
  font-size: var(--h3-font-size);
}

/*=============================== *BREAKPOINTS* ===============================*/

/*=============== FOR SMALL DEVICES ===============*/

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .home__image {
    width: 180px;
  }

  .home__social {
    left: -3rem;
  }

  .about__image {
    width: 250px;
  }

  .about__shadow {
    height: 330px;
    right: -2.5rem;
  }
  
.copy-button {
  width: 8em;
  font-family: 'Single Day', sans-serif;
  font-size: 1.2em;
  padding: 0.2em 0em;
  border: none;
  border-radius: 5px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}


.copy-button {
  width: 8em;
  font-family: 'Single Day', sans-serif;
  font-size: 1.2em;
  padding: 0.2em 0em;
  border: none;
  border-radius: 5px;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #2d4373;
}


.copied-icon {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 6px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  row-gap: 10px;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  pointer-events: none; /* Ensure it does not take up space */
}

.copied-icon.show {
  opacity: 1;
  pointer-events: all; /* Allow interaction when visible */
}

.copied-icon i {
  font-size: 24px;
  color: green;
  margin-right: 8px;
}

.copied-icon span {
  font-size: 16px;
  color: #333; /* Adjust color as needed */
}

}

/*=============== FOR MEDIUM DEVICES ===============*/

@media screen and (min-width: 576px) {

  .home__container,
  .about__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
}


@media screen and (min-width: 768px) {
  .memes__container {
    grid-template-columns: repeat(2, 250px);
  }
  .tokenomics__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*=============== FOR LARGE DEVICES ===============*/

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 5rem 5rem;
  }

  .section__title-1::after,
  .section__title-2::after {
    width: 70px;
    height: 70px;
    opacity: 0.35;
  }

/*================= Navigation Bar =================*/

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav__close,
  .nav__toggle,
  .nav__title,
  .nav__name {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__link {
    color: var(--text-color);
    font-size: var(--mid-font-size);
  }

  .nav__link:hover {
    color: var(--title-color);
  }

  .nav__link::after {
    background-color: var(--title-color);
  }

  .active-link {
    color: var(--title-color);
  }

  .nav__link-button {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1.1rem 1.5rem;
  }

  .nav__link-button:hover {
    color: var(--white-color);
    background-color: var(--first-color);
  }

  .nav__link-button::after {
    background-color: transparent;
  }

  .change-theme {
    color: var(--text-color);
  }

  .change-theme:hover {
    color: var(--title-color);
  }


  /*===================== LARGE: Home Container =====================*/

  .home__container {
    grid-template-columns: repeat(2, 625px);
    gap: 2rem 8rem;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .home__perfil {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .home__image {
    width: 600px;
  }

  .home__shadow {
    right: 0.6rem;
    bottom: -0.1rem;
    border: 0.75px solid var(--black-color);
  }

  .home__name,
  .home__description {
    text-align: initial;
  }

  .home__name {
    align-self: flex-end;
  }

  .home__info {
    margin-top: 0;
    align-self: flex-start;
  }

  .home__description {
    position: relative;
    font-size: var(--h2-font-size);
    margin-bottom: 5.5rem;
    padding-left: 3rem;
  }

  .home__scroll {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }

  .home__scroll-text {
    display: block;
    color: var(--black-color-medium);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }

  .home__scroll-box {
    width: 44px;
    height: 44px;
  }

  .home__scroll-box i {
    font-size: 1.25rem;
  }

  .home__arrow {
    top: 22rem;
    left: -8rem;
    rotate: 150deg;
    width: 80px;
  }

  .home__social {
    left: initial;
    right: -6rem;
    row-gap: 2.5rem;
  }

  .home__social-link {
    font-size: 1.5rem;
    padding: 0.5rem;
    
  }

  .home__social-link-svg i {
    width: 3rem;
    height: 3rem;
  }

  /*===================== LARGE SECTION: ABOUT =====================*/

  .about__container {
    grid-template-columns: 440px 525px;
    gap: 1rem 9rem;
    align-items: center;
    padding-block: 1rem;
  }

  .about__perfil {
    order: -1;
    grid-row: 1 / 3;
  }

  .about__image {
    width: 600px;
  }

  .about__container .section__title-1 {
    align-self: flex-end;
    margin-inline: 0;
  }

  .about__info {
    align-self: flex-start;
    padding-left: 0.5rem;
  }

  .section__title-1, 
  .section__title-2 {
  font-size: var(--h1-font-size);
  }

  .about__description {
    font-size: var(--mid-font-size);
    margin-bottom: 2rem;
    text-align: left;
  }

  .about__description::after {
    width: 32px;
    height: 2px;
    left: -3rem;
    top: 14px;
  }

  .about__list {
    margin-bottom: 5rem;
  }

  .about__buttons {
    justify-content: initial;
  }

  .button__ghost {
    padding: 0.75rem;
  }

  .button__ghost i {
    font-size: 1.5rem;
  }

  /*===================== LARGE SECTION: MEMES =====================*/

  .memes__container {
    grid-template-columns: repeat(3, 282px);
    column-gap: 5rem;
    padding-block: 3rem 5rem;
  }

  .memes__content {
    padding: 6.5rem 1.5rem 3.5rem;
    border: 6px solid 
  }

  .memes__icon i {
    font-size: 3rem;
  }

  .memes__box {
    width: 32px;
    height: 32px;
  }

  .memes__title {
    margin-bottom: 1.5rem;
  }

  .memes__card:hover .memes__border {
    transform: translate(1.25rem, 1.25rem);
  }

  /*===================== LARGE SECTION: TOKENOMICS =====================*/

  .tokenomics__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .tokenomics__item {
      padding: 2rem;
  }

  .tokenomics__percentage {
      font-size: 3rem; /* Adjust size as needed */
  }

  .tokenomics__label {
      font-size: 1.5rem; /* Adjust size as needed */
  }


  /*===================== LARGE SECTION: FOOTER =====================*/

  .footer__container {
    padding-block: 4rem;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__links {
    column-gap: 3rem;
    order: 1;
  }
}